{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>创建帖子</title>
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-forum.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-dark.css' %}" />
    </head>
    <body>
        {% include 'header.html' %}

        <div id="main">
            <div class="banner">
                <h2>创建帖子</h2>
            </div>
            <div class="content">
                {% if error %}
                    <div class="alert-error">{{ error }}</div>
                {% endif %}
                <form action="/create/" method="post">
                    {% csrf_token %}
                    <label for="title">标题</label>
                    <input type="text" name="title" id="title" maxlength="32" /><br />
                    <label for="content">内容</label>
                    <textarea type="text" name="content" id="content" maxlength="4096" placeholder="支持markdown格式哦"></textarea>
                    <br>
                    <input type="submit" value="发布" />
                </form>
            </div>
        </div>
        <script src="{% static 'forum.js' %}"></script>
    </body>
</html>