{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>创建帖子</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-forum.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-dark.css' %}" />
    </head>
    <body>
        <header class="header">
            <div class="margin"></div>
            <a href="/" class="a-button header-title">论坛</a>

            <div class="header-spacer"></div>

            {% if logged_in_user %}
                <div class="dropdown">
                    <button class="button-dropdown">{{ logged_in_user }}</button>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="/user/{{ logged_in_user_email }}"><div>个人主页</div></a></li>
                            <li><a href="/settings/"><div>设置</div></a></li>
                            <li><a onclick="toggle_theme()"><div>切换主题</div></a></li>
                            <div class="hr" style="margin: 4% 3px;"></div>
                            <li><a href="/logout/"><div class="logout-button">退出登录</div></a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <a onclick="toggle_theme()" style="cursor: pointer;">切换主题</a>
                <a href="/login/" class="a-button"><button class="button-white">登录</button></a>
                <a href="/register/" class="a-button"><button>注册</button></a>
            {% endif %}
            <div class="margin"></div>
        </header>
        <div id="main">
            <div class="banner">
                <h2>创建帖子</h2>
            </div>
            <div class="content">
                {% if error %}
                    <div class="alert-error">{{ error }}</div>
                {% endif %}
                <form action="/create/" method="post">
                    {% csrf_token %}
                    <label for="title">标题</label>
                    <input type="text" name="title" id="title" maxlength="32" /><br />
                    <label for="content">内容</label>
                    <textarea type="text" name="content" id="content" maxlength="4096"></textarea>
                    <br>
                    <input type="submit" value="发布" />
                </form>
            </div>
        </div>
        <script src="{% static 'forum.js' %}"></script>
    </body>
</html>