{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hustrava</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'style-forum.css' %}">
    <link rel="stylesheet" href="{% static 'style-dark.css' %}">
</head>
<body>

    {% include 'header.html' %}
    <!-- 插入空行，避免覆盖元素 -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="main">
        <div class="sidebar">
            <a href="/create/" class="a-button"><button>创建帖子</button></a>
            <a href="/users/">用户列表</a>
            <div class="stats">
                <span class="title">统计</span>
                <ul>
                    <li>用户总数：{{ stats.users }}</li>
                    <li>帖子总数：{{ stats.posts }}</li>
                    <li>回复总数：{{ stats.comments }}</li>
                </ul>
            </div>
            </div>


        <div class="content">
            {% if topped_posts %}
                <h3>置顶帖子</h3>
                <ul class="topic-list">
                    {% for post in topped_posts %}
                        <li>
                            <a href="/post/{{ post.id }}"><b>{{ post.title }}</b></a>
                            <span>#{{ post.id }}</span>
                            <span><a href="/user/{{ post.author }}">{{ post.author }}</a> 发布于 {{ post.created_at|naturaltime }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if posts %}
                <h3>所有帖子</h3>
                <ul class="post-list">
                    {% for post in posts %}
                        <li>
                            <a href="/post/{{ post.id }}/"><b>{{ post.title }}</b></a>
                            <span>#{{ post.id }}</span>
                            <span><a href="/user/{{ post.author.email }}">{{ post.author }}</a> 发布于 {{ post.created_at|naturaltime }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>没有帖子</p>
            {% endif %}
        </div>

    </div>

    <script src="{% static 'forum.js' %}"></script>
</body>
</html>
