{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>登录</title>
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-forum.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-dark.css' %}" />
    </head>
    <body>
        {% include 'header.html' %}

        <div id="main">
            <div class="banner">
                <h2>登录</h2>
            </div>
            <div class="content">
                {% if error %}
                    <div class="alert-error">{{ error }}</div>
                {% endif %}
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <label for="user_email">用户邮箱</label>
                    <input type="text" name="user_email" id="user_email" placeholder="请输入邮箱" />
                    <label for="password">密码</label>
                    <input type="password" name="password" id="password" placeholder="请输入密码" />
                    <input type="submit" value="登录" />
                    <a href="/find_password/" class="a-button">忘记密码</a>
                </form>
            </div>
        </div>
        <script src="{% static 'forum.js' %}"></script>
    </body>
</html>