{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>修改密码 - 设置</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-forum.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-dark.css' %}" />
    </head>
    <body>
        <header class="header">
            <div class="margin"></div>
            <a href="/" class="a-button header-title">论坛</a>

            <div class="header-spacer"></div>

            {% if logged_in_user %}
                <div class="dropdown">
                    <button class="button-dropdown">{{ logged_in_user }}</button>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="/user/{{ logged_in_user_email }}"><div>个人主页</div></a></li>
                            <li><a href="/settings/"><div>设置</div></a></li>
                            <li><a onclick="toggle_theme()"><div>切换主题</div></a></li>
                            <div class="hr" style="margin: 4% 3px;"></div>
                            <li><a href="/logout/"><div class="logout-button">退出登录</div></a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <a onclick="toggle_theme()" style="cursor: pointer;">切换主题</a>
                <a href="/login/" class="a-button"><button class="button-white">登录</button></a>
                <a href="/register/" class="a-button"><button>注册</button></a>
            {% endif %}
            <div class="margin"></div>
        </header>
        <div id="main">
            <div class="banner">
                <h2>修改密码</h2>
            </div>
            <div class="content">
                {% if error %}<div class="alert-error">{{ error }}</div>{% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
                    <input type="hidden" id="user_email" value="{{ logged_in_user_email }}">
                    <label for="original_password">原密码</label>
                    <input type="password" name="original_password" id="original_password" />
                    <label for="new_password">新密码</label>
                    <input type="password" name="new_password" id="new_password" />
                    <label for="new_password_confirm">重新输入新密码</label>
                    <input type="password" name="new_password_confirm" id="new_password_confirm" />
                    <label for="verify_code">验证码</label>
                    <input type="text" name="verify_code" id="verify_code" />
                    <button type="button" id="send_captcha_password" class="send_captcha_btn" data-form="password">获取验证码</button>
                    <input type="submit" value="确定" />
                </form>                
            </div>
        </div>

        <script type="text/javascript">
            var sendCaptchaUrl = "{% url 'send_captcha' %}";
        </script>

        <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'forum.js' %}"></script>
        <script src="{% static 'send_mail.js' %}"></script>
    </body>
</html>