{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>修改密码 - 设置</title>
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-forum.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-dark.css' %}" />
    </head>
    <body>
        {% include 'header.html' %}

        <div id="main">
            <div class="banner">
                <h2>修改密码</h2>
            </div>
            <div class="content">
                {% if error %}<div class="alert-error">{{ error }}</div>{% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
                    <input type="hidden" id="user_email" value="{{ logged_in_user_email }}">
                    <label for="original_password">原密码</label>
                    <input type="password" name="original_password" id="original_password" placeholder="请输入原密码" />
                    <label for="new_password">新密码</label>
                    <input type="password" name="new_password" id="new_password" placeholder="请输入新密码" />
                    <label for="new_password_confirm">重新输入新密码</label>
                    <input type="password" name="new_password_confirm" id="new_password_confirm" placeholder="请重新输入新密码" />
                    <label for="verify_code">验证码</label>
                    <input type="text" name="verify_code" id="verify_code" placeholder="请输入验证码" />
                    <button type="button" id="send_captcha_password" class="send_captcha_btn" data-form="password">获取验证码</button>
                    <input type="submit" value="确定" />
                </form>                
            </div>
        </div>

        <script type="text/javascript">
            var sendCaptchaUrl = "{% url 'send_captcha' %}";
        </script>

        <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'forum.js' %}"></script>
        <script src="{% static 'send_mail.js' %}"></script>
    </body>
</html>