{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>修改个人简介 - 设置</title>
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-forum.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-dark.css' %}" />
    </head>
    <body>
        {% include 'header.html' %}

        <div id="main">
            <div class="banner">
                <h2>修改个人简介</h2>
            </div>
            <div class="content">
                {% if error %}<div class="alert-error">{{ error }}</div>{% endif %}
                <form action="/settings/bio/" method="post">
                    {% csrf_token %}
                    <label for="bio">个人简介</label>
                    <textarea type="text" name="bio" id="bio" maxlength="256">{{ user_obj.bio }}</textarea>
                    <label for="bio">用户名</label>
                    <textarea type="text" name="name" id="name" maxlength="30">{{ user_obj.name }}</textarea>
                    <input type="submit" value="保存" />
                </form>
            </div>
        </div>
        <script src="{% static 'forum.js' %}"></script>
    </body>
</html>