{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>用户列表</title>
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-forum.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style-dark.css' %}" />
    </head>
    <body>
        {% include 'header.html' %}

        <div id="main">
            <div class="banner">
                <h2>用户列表</h2>
            </div>
            <div class="content">
                {% if user_list %}
                <h3>用户列表</h3>
                <ul style="list-style: none;">
                    {% for user_in_list in user_list %}
                        <li>
                            <a href="/user/{{ user.email }}/"><b>{{ user_in_list.name }}</b></a>
                            <span title="{{ user.created_at }}">于{{ user_in_list.created_at|naturaltime }}加入</span>
                            <span style="color: #888; font-size: 14px;" title="{{ user_in_list.bio }}">{{ user_in_list.bio|slice:":60" }}{% if user_in_list.bio|length > 60 %}…{% endif %}</span>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>空空如也</p>
                {% endif %}
            </div>
        </div>
        <script src="{% static 'forum.js' %}"></script>
    </body>
</html>